body .main {
  width: 100%;
  align-items: center;
}
.pager {
  width: 100%;
}

.artist{
  align-items: center;
}
.sublistitem {
  padding:1vmin;
  margin: 1vmin;
  background-color: #48a9a6;
}
.locationInfo{
  
}
.albums{
  
}
.pager{
  
}
.noResultFound{
  
}
.pagerButton{
  
}
.details{
  background-color: #731dd8;
  color: #e4dfda;
}
.style1{
  background-color: #731dd8;
  color: #e4dfda;
}
.style2{
  background-color: #48a9a6;
  color: #e4dfda;
}
.style3{
  background-color: #d4b483;
  color: #e4dfda;
}
.style4{
  background-color: #c1666b;
  color: #e4dfda;
}
